body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cover-img {
  object-fit: cover;
}
.card {
  border: none;
  border-radius: none;
}
.categories {
  padding-left: 30px;
  /* font-size: 20px;
  font-weight: 500;*/
}

.img-logo {
  height: 20px;
  width: 75px;
  margin-left: 15px;
}
.nav-icons {
  color: white;
}
.bg-color {
  background-color: rgba(0, 0, 0, 0.92) !important;
}

.section-title {
  margin-left: 30px;
}

.btn {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  border-radius: 0px !important;
}

.dropdown-toggle::after {
  margin-left: 20px !important;
}

.border-icons {
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 30px;
  width: 45px;
}

.div-icons {
  color: rgba(255, 255, 255, 0.5);
}

.btn-outline-light {
  border-color: rgba(255, 255, 255, 0.5) !important;
}
